ul,
h1,
h2,
h3,
h4,
h5,
h6,
body,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #30233d;
}

.suptitle {
  display: block;
  margin-bottom: 19px;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #f61067;
}

.container {
  max-width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pink {
  color: #f61067;
}

.purple {
  color: #30233d;
}

.cyan {
  color: #00f0b5;
}

.orange {
  color: #f67110;
}

.col-4 {
  width: 33.3333%;
}

.col-6 {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
  .col-4 {
    width: 50%;
  }
  .col-6 {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .col-4 {
    width: 50%;
  }
  .col-6 {
    width: 50%;
  }
  .container {
    padding: 0 20px;
    overflow: hidden;
  }
  a {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.header {
  padding-top: 40px;
  padding-bottom: 30px;
}

.header .nav {
  margin-left: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .nav__link {
  font-style: normal;
  font-weight: 700;
  font-size: 14.4px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: none;
  margin-right: 53px;
  font-family: sans-serif;
  color: #30233d;
}

.header .nav .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  font-size: 14.4px;
  font-weight: 700;
}

.header .nav .contacts img {
  margin-right: 18px;
}

.burger-menu {
  position: fixed;
  right: 3%;
  top: 3%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #30233d;
  border-radius: 50%;
  cursor: pointer;
}

.burger-menu span {
  position: relative;
  display: block;
  width: 50%;
  height: 2px;
  background-color: #776c82;
}

.burger-menu span::before,
.burger-menu span::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: inherit;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.burger-menu span::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.burger-menu.is-active span {
  height: 0;
}

.burger-menu.is-active span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger-menu.is-active span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 1024px) {
  .header .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background-color: #776c82;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header .nav.is-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header .nav__list {
    font-size: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .nav .contacts {
    display: none;
  }
  .header .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
  }
}

@media screen and (max-width: 576px) {
  .header {
    display: block;
  }
}

.hero {
  height: 360px;
  background-image: url(../images/png/photo.png);
}

.hero__title {
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 1;
  letter-spacing: 1;
  text-transform: none;
  line-height: 80px;
  margin-top: 108px;
  color: #f61067;
}

.hero__subtitle {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  letter-spacing: uppercase;
  text-transform: none;
  margin-bottom: 19px;
  font-family: sans-serif;
  line-height: 37px;
  color: #f4f4ed;
}

@media screen and (max-width: 1024px) {
  .hero {
    max-width: 100%;
  }
  .hero__title, .hero__subtitle {
    margin-left: 50px;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    max-width: 100%;
  }
}

.create {
  padding-top: 108px;
  padding-bottom: 180px;
  text-align: center;
}

.create .container {
  display: block;
}

.create__description {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 1;
  letter-spacing: 1;
  text-transform: none;
  max-width: 754px;
  margin: 0 auto;
  line-height: 40px;
  text-align: center;
  color: #30233d;
}

.create__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 83px;
}

.create .cyan,
.create .purple,
.create .pink {
  text-shadow: 0px 5px 15px;
  font-size: 99px;
}

.create__type {
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 6px;
  text-transform: uppercase;
  line-height: 36px;
  color: #30233d;
}

@media screen and (max-width: 1024px) {
  .create {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .create {
    padding-bottom: 100px;
  }
  .create__item {
    padding-left: 15px;
  }
}

.services {
  padding-bottom: 180px;
}

.services__item {
  display: block;
  margin: 20px;
  text-align: left;
}

.services__title {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 1;
  letter-spacing: 1;
  text-transform: none;
  line-height: 67px;
  text-align: center;
  color: #30233d;
}

.services__description {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1;
  text-transform: none;
  line-height: 29px;
  text-align: center;
  max-width: 558px;
  margin: 23px auto 0;
  color: #30233d;
}

.services .container {
  display: block;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -35px;
  padding-top: 70px;
}

.services img {
  color: #776c82;
  -webkit-box-shadow: 10px 2px 20px;
          box-shadow: 10px 2px 20px;
  border-radius: 40px;
}

.item {
  text-align: left;
  padding: 28px 35px;
}

.item__title {
  margin: 15px 0 25px;
}

.item__description {
  font-size: 16.2px;
  line-height: 26px;
  color: #776c82;
}

.item__description:hover {
  color: #30233d;
}

@media screen and (max-width: 1024px) {
  .services {
    padding: 0 25px;
  }
}

@media screen and (max-width: 576px) {
  .services {
    padding-bottom: 100px;
  }
  .services__row {
    padding: 0 25px;
  }
}

.make {
  padding-bottom: 100px;
}

.make .container {
  display: block;
}

.make__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 128px;
}

.make__content {
  padding-top: 70px;
  padding-left: 12%;
  padding-right: 22%;
}

.make__number {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 37px;
  color: #f61067;
}

.make__title {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 1;
  letter-spacing: 1;
  text-transform: none;
  line-height: 40px;
  margin-top: 5px;
  margin-bottom: 31px;
  color: #30233d;
}

.make__description {
  font-size: 18px;
  line-height: 29px;
  color: #776c82;
}

.make__description:hover {
  color: #30233d;
}

.make img:hover {
  -webkit-box-shadow: 0px 9px 25px;
          box-shadow: 0px 9px 25px;
}

@media screen and (max-width: 1024px) {
  .make__content {
    padding-top: 10px;
  }
  .make img {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .make {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .make__content {
    padding: 0 20px;
  }
  .make__title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1;
    text-transform: none;
    margin-bottom: 10px;
  }
  .make__description {
    font-size: 15px;
    line-height: 25px;
    color: #776c82;
    padding-bottom: 10px;
  }
  .make img {
    width: 100%;
  }
}

/***********************
 *	Variables
 **********************/
/***********************
 *	Project Main Styles
 **********************/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  padding-bottom: 100px;
}

.slider-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.slider-page {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  -webkit-transition: -webkit-transform 1350ms;
  transition: -webkit-transform 1350ms;
  transition: transform 1350ms;
  transition: transform 1350ms, -webkit-transform 1350ms;
}

.slider-page--skew {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 140%;
  height: 100%;
  background: #fff;
  -webkit-transform: skewX(-18deg);
          transform: skewX(-18deg);
}

.slider-page--left {
  left: 0;
  -webkit-transform: translateX(-32.5vh) translateY(100%) translateZ(0);
          transform: translateX(-32.5vh) translateY(100%) translateZ(0);
}

.slider-page--left .slider-page--skew {
  left: -40%;
}

.slider-page--left .slider-page__content {
  padding: auto 30% auto 30%;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.slider-page--right {
  left: 50%;
  -webkit-transform: translateX(32.5vh) translateY(-100%) translateZ(0);
          transform: translateX(32.5vh) translateY(-100%) translateZ(0);
}

.slider-page--right .slider-page--skew {
  right: -40%;
}

.slider-page--right .slider-page__content {
  padding: auto 30% auto 30%;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.slider-page__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 30% 0 30%;
  color: #30233d;
  background-size: cover;
  -webkit-transform: skewX(18deg);
          transform: skewX(18deg);
  -webkit-transition: -webkit-transform 1350ms;
  transition: -webkit-transform 1350ms;
  transition: transform 1350ms;
  transition: transform 1350ms, -webkit-transform 1350ms;
}

.slider-page__title {
  margin-bottom: 1em;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}

.slider-page__title--big {
  font-size: 1.2em;
}

.slider-page__description {
  font-size: 1em;
  text-align: center;
}

/***********************
 *	Project JS Styles
 **********************/
.js-scrolling__page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.js-scrolling--active .slider-page {
  -webkit-transform: translateX(0) translateY(0) translateZ(0);
          transform: translateX(0) translateY(0) translateZ(0);
}

.js-scrolling--inactive .slider-page__content {
  -webkit-transform: skewX(18deg) scale(0.9);
          transform: skewX(18deg) scale(0.9);
}

.js-scrolling__page-1 .slider-page--left .slider-page__content {
  background-image: url("/images/png/make-3.png");
}

.js-scrolling__page-1 .slider-page--right .slider-page__content {
  background-color: #fff;
}

.js-scrolling__page-2 .slider-page--left .slider-page__content {
  background-color: #30233d;
}

.js-scrolling__page-2 .slider-page--left .slider-page__title,
.js-scrolling__page-2 .slider-page--left .slider-page__description {
  color: #fff;
}

.js-scrolling__page-2 .slider-page--right .slider-page__content {
  background-image: url("/images/png/testimonial-1.png");
}

.js-scrolling__page-3 .slider-page--left .slider-page__content {
  background-image: url("/images/png/make-1.png");
}

.js-scrolling__page-3 .slider-page--right .slider-page__content {
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  .slider-pages {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .slider-pages {
    height: 50vh;
  }
  .slider-page--skew {
    height: 50vh;
  }
}
/*# sourceMappingURL=index.css.map */