.make {
    padding-bottom: 100px;

    .container {
        display: block;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        padding-top: 128px;
    }

    &__content {
        padding-top: 70px;
        padding-left: 12%;
        padding-right: 22%;
    }

    &__number {
        @include font(18px, 800, 4px, uppercase);
        line-height: 37px;
        color: $color-pink;
    }

    &__title {
        @include font(27px, 500, );
        line-height: 40px;
        margin-top: 5px;
        margin-bottom: 31px;
        color: $color-purple;
    }

    &__description {
        font-size: 18px;
        line-height: 29px;
        color: $color-gray;

        &:hover {
            color: $color-purple;
        }

    }

    img {
        &:hover {
            box-shadow: 0px 9px 25px;
        }

    }
}



//mobile//
@media screen and (max-width: 1024px) {
    .make {
        &__content {
            padding-top: 10px;
        }

        img {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 576px) {
    .make {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;

        &__content {
            padding: 0 20px;
        }

        &__title {
            @include font(20px, 500);
            margin-bottom: 10px;
        }

        &__description {
            font-size: 15px;
            line-height: 25px;
            color: $color-gray;
            padding-bottom: 10px;
        }

        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 320px) {
    .make {
        &__row {
            display: block;
        }

        &__item {
            width: 300px;
        }

        img {
             padding-top: 80px;
        }
    }
}

@media screen and (max-width: 375px) {
    .make {

        &__row {
            display: flex;
        }

        .col-4,
        .col-6 {
            display: flex;
            border-bottom-style: groove;
        }

        img {
            padding-top: 80px;
        }

        &__item {
            width: 200px;
        }


    }
}