.header {
    padding-top: 40px;
    padding-bottom: 30px;


    .nav {

        .contacts {
            display: flex;
            align-items: center;
            font-family: sans-serif;
            font-size: 14.4px;
            font-weight: 700;

            img {
                margin-right: 18px;
            }
        }
    }
}


.burger-menu {
    position: fixed;
    right: 3%;
    top: 3%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: $color-purple;
    border-radius: 50%;
    cursor: pointer;
}

.burger-menu span {
    position: relative;
    display: block;
    width: 50%;
    height: 2px;
    background-color: $color-gray;
}

.burger-menu span::before,
.burger-menu span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: inherit;
    transform: translateY(-10px);

}

.burger-menu span::after {
    transform: translateY(10px);
}

.burger-menu.is-active span {
    height: 0;
}

.burger-menu.is-active span::before {
    transform: rotate(-45deg);
}

.burger-menu.is-active span::after {
    transform: rotate(45deg);
}


//mobile//

@media screen and (max-width: 1024px) {
    .header {
        .nav {
            @include display-flex(center, center,  );
            @include position(0, 0);
            flex-direction: column;
            display: flex;
            position: fixed;
            z-index: 2;
            height: 100vh;
            width: 100vw;
            background-color: $color-gray;
            transform: translateX(100%);
            transition: 0.5s;

            &.is-active {
                transform: translateX(0);
            }

            &__list {
                @include display-flex(center, center);
                font-size: 60px;
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            .contacts {
                display: none;
            }
        }

        .burger-menu {
            display: flex;
            z-index: 3;
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        display: block;
    }
}